/* 
Student:Erika Kohl
UMID:8591 6862
SI 339 001 FA 2020
Date: 09/14/2020
*/ 


body{
    font-family: 'Lucida Grande', sans-serif;
    color: #ffffff;
    background: #000000;
}
h1{
    font-size: 64px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080 ;
}
 
p{
    font-size: 24px;
    padding-top: 20px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 525px;
    height: auto;

}
div{
    min-height: 150px;
    padding: 25px;
}

#red{
    background: #ff0000;
    text-align: right;
}

#blue{
    background: #0000ff;
    text-align: left;
}

#yellow{
    background: #ffff00; 
    text-align: right;
}

#yellow p{
    color: black;  
}

#yellow h2{
    color: black;
    text-shadow: 5px 5px 2px #c7e2c7 ;
}
#green{
    background-color:#008000;
    text-align: left;
}

footer p{
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

